<a href="https://colab.research.google.com/github/19PA1A0575/VITBML-EDA1/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd # pandas is used for loading data from different files like csv, excel sheets etc
import numpy as np # numpy is used for dealing with arraysimport numpy as np
shiny=pd.read_csv("https://raw.githubusercontent.com/bhargav23/Dataset/master/Toyota.csv")
print(shiny)

      Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.0  46986  ...         0  2000  three    1165
1              1  13750  23.0  72937  ...         0  2000      3    1165
2              2  13950  24.0  41711  ...         0  2000      3    1165
3              3  14950  26.0  48000  ...         0  2000      3    1165
4              4  13750  30.0  38500  ...         0  2000      3    1170
...          ...    ...   ...    ...  ...       ...   ...    ...     ...
1431        1431   7500   NaN  20544  ...         0  1300      3    1025
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1433        1433   8500   NaN  17016  ...         0  1300      3    1015
1434        1434   7250  70.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[1436 rows x 11 columns]

In [11]:
shiny.head()

   Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0           0  13500  23.0  46986  ...         0  2000  three    1165
1           1  13750  23.0  72937  ...         0  2000      3    1165
2           2  13950  24.0  41711  ...         0  2000      3    1165
3           3  14950  26.0  48000  ...         0  2000      3    1165
4           4  13750  30.0  38500  ...         0  2000      3    1170

[5 rows x 11 columns]

In [30]:
shiny.columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [0]:
# we a need a test set to measure the performance of our model.

In [32]:
X=np.array(shiny["Age"])
Y=np.array(shiny["Price"])
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.4,random_state=0)

NameError: ignored

In [29]:
X_test=X_test.reshape(-1,1)
X_train=X_train.reshape(-1,1)
print(X_test)
print(X_train)

NameError: ignored